doctype html
html(lang='fr')
	head
		meta(charset='UTF-8')
		block title 
		link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='/css/style.css')
	body
		header
			.header-container
				.logo
					a(href='/')
						img(alt='logo', src='/img/logo.svg', title='Accueil')
				nav
					ul
						li(class={active:blue==="acc"})
							a(href='/') Accueil
						li(class={active:blue==="prods"})
							a(href='/produits') Produits
						li(class={active:blue==="cont"})
							a(href='/contact') Contact
						li
							a.shopping-cart(href='/panier', title='Panier')
								span.fa-stack.fa-lg
									i.fa.fa-circle.fa-stack-2x.fa-inverse
									i.fa.fa-shopping-cart.fa-stack-1x
								span.count 3
				
		block content
	
		footer
			p Par Antoine Béland et Konstantinos Lambrou-Latreille
		block script_extra